h1 {
    text-align: left;
}

h2 {
    margin-top: 1.5em;
}

#contact-input > div, #add-contact {
    margin-top: 1em;
}
#contact-display {
    margin-left: 5em;
    display: none;
}

#contacts-list {
    display: none;
}

#column-effect {
    display: inline-flex;
}

#contact-input-container {
    margin-left: 2em;
}

#contacts-list-container {
    margin-left: 1.9em;
    margin-bottom: 7em;
    display: none;
}

#addresses-display > li {
    margin-bottom: 1em;
}

.contact-input-container p {
    font-style: italic;
    color: grey;
    font-size: 1em;
}

h5 {
    color: darkgray;
    font-style: italic;
}

#legend {
    color: grey;
}

#vcard-display {
    display: none;
}

#vcard-content {
    background-color: antiquewhite;
}
